@use "../../css/colours.scss" as *;
@use "../../css/units.scss" as units;

.row {
  border: 1px solid;
  @include t(border-color, black-transparent);
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;

  h2 {
    font-size: 1em;
    margin: 0;
  }
}

.projects-row {
  display: flex;
  gap: 12px;
  overflow-x: auto;
  padding-bottom: 12px;
}

.project-card {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid;
  @include t(border-color, solid-border);
  @include t(background, white);
  border-radius: 6px;
  width: 200px;
  text-decoration: none;
  color: inherit;
  overflow: hidden;
  padding: 8px;
  gap: 8px;
  @include t(color, text-color);

  .project-thumb {
    width: 100%;
    aspect-ratio: 4/3;
    flex-grow: 1;
    border-radius: 6px;
    background-color: #eee;

    &.placeholder {
      display: block;
    }
  }

  .project-name {
    font-size: 0.9rem;
    width: 100%;
    box-sizing: border-box;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}


@media screen and (max-width: 600px) {
  .projects-row {
    gap: 12px;
  }

  .project-card {
    width: 150px;
  }
}
